.header{
    padding: 5px;
    height: 70px;
    color: var(--text-color);
    background-color: var(--accent-color);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.logo{
    transform: scale(2);
}

.logoGroup {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
}

.linkList {
    padding: 10px;
    display: flex;
}

.link {
    padding: 1vmax;
}

.link:hover {
    color: var(--link-color);
}